@import url('https://fonts.cdnfonts.com/css/svn-gilroy');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    font-family: 'SVN-Gilroy', sans-serif;
  }

  header {
    background-color: #FCEED5;
    position: relative;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    padding: 20px 0;
    padding-bottom: 20px;
    z-index: 10;  /* Ensures the header stays on top of content */
}

  .container{
    display: flex;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  ul{
    list-style: none;
    margin: 0;
  }

  li{
    display: inline;
  }

  .logo{
    z-index: 1;
  }

  .top-img{
    position: absolute;
    left: 0px;
  }

  .top-img img{
    width: 34.313rem; 
    height: 37.5rem; 
  }

  .nav-links a{
    text-decoration: none;
    padding-left: 30px;
    font-size: 16px;
    font-weight: 700;
    color: #003459;
    font-family: 'SVN-Gilroy', sans-serif;
  }

  .search-bar input{
    width: 280px;
    border: 0px solid;  
    height: 44px;
    border-radius: 57px;
    background-image: url('images/u_search.svg');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    font-family: 'SVN-Gilroy', sans-serif;
  }

  .join-btn button{
    width: 223px;
    height: 44px;
    border-radius: 57px;
    background-color: #003459;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    font-family: 'SVN-Gilroy', sans-serif;
    text-decoration: none;
    text-align: center;
  }

  .main{
    display: flex;
    /* margin-top: 100px; */
    background-color: #FCEED5;
    /* overflow: hidden; */
    height: 86.5vh;
  }  

  .leftside{
    flex: 40%;
    background-color: #FCEED5;
  }

  .rightside{
    display: flex;
    justify-content: space-between;
    flex: 60%;
    background-color: #FCEED5;
    z-index: 2;
    position: relative;
    z-index: 2;


  }

  .rect{
    position: absolute;
    width: 635px;
    left: 699.22px;
    left: 4rem;
    z-index: -1;
    bottom: 0px;
  }
  .rect1{
    position: absolute;
    right: 4rem;
    bottom: 0px;
    z-index: -1;
  }

  .woman{
    position: absolute;
    bottom: 0px;
  }

  .leftside{
    padding-left: 145px;
    line-height: 60px;
    justify-content: left;
    padding-top: 80px;
  }

  .top-left{
    position: relative;
    z-index: 2;
  }

  .leftside h1{
    font-family: 'SVN-Gilroy', sans-serif;
    color: #003459;
    font-size: 60px;
    font-weight: 900;
    line-height: 68px;
    letter-spacing: 0em;
    text-align: left;
  }

  .leftside h2{
    font-family: 'SVN-Gilroy', sans-serif;
    color: #003459;
    font-size: 46px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
  }

  .leftside p{
    font-family: 'SVN-Gilroy', sans-serif;
    color: #242B33;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 20px;
  }

  .bottom-left{
    margin-top: 30px;
    display: flex;
  }

  .bottom-left .intro-btn{
    width: 161px;
    height: 48px;
    border-radius: 57px;   
    border: 1.5px solid #003459;
    /* top: 442px;
    left: 130px; */
    font-family: 'SVN-Gilroy', sans-serif;
    background-color: transparent;
    color: #003459;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: left; */
    /* background-image: url('images/Play_Circle.svg');
    background-position: left; 
    background-repeat: no-repeat; */
    /* padding: px; */
  }

  .left-img{
    position: absolute;
    left: -13px;
    z-index: -1;
  
  }

  .bottom-left .explore-btn{
    width: 163px;
    height: 48px;
    top: 442px;
    left: 311px;
    padding: 14px 28px 10px 28px;
    gap: 10px;
    border-radius: 57px;
    font-family: 'SVN-Gilroy', sans-serif;
    font-size: 16px;
    font-weight: 500;
    background-color: #003459;
    border: transparent;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
  }

  .rect8{
    position: absolute;
    top: 648px;
    left: 4px;
  }

  .rect5{
    position: absolute;
    width: 1.289rem;
    height: 1.289rem;
    top: 5.313rem;
    left: 14.387rem;
  }

  .rect6{
    position: absolute;
    width: 1.719rem;
    height: 1.719rem;
    top: 8.793rem;
    left: 12.5rem;
  }

  .rect7{
    position: absolute;
    width: 1.342rem;
    height: 1.342rem;
    top: 9.353rem;
    left: 12.5rem;
  }